<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <key>Label</key>
    <string>com.waichipngai.code.server.plist</string>

    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    
    <key>StandardOutPath</key>
    <string>/Users/waichipngai/Library/Logs/code-server.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/waichipngai/Library/Logs/code-server.log</string>

    
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/code-server</string>
    </array>

  </dict>
</plist>
